<footer class="footer text-white text-center" id="contacts">
    <div class="container">
        <h2 class="footer__title ff-book uppercase">
            контакты
        </h2>
        <div class="mt-10">
            <div>
                Телефон:
            </div>
            <div class="">
                <a href="tel:[[++tel:tel_phone]]" target="_blank">
                    [[++tel]]
                </a>
            </div>
            <div>
                <a href="tel:[[++tel:tel_phone]]" target="_blank">
                    [[++tel]]
                </a>
                <span>whats’up</span>
            </div>
            <div>
                <a href="[[++instagram]]" target="_blank">
                    [[++instagram]]
                </a>
            </div>
            <div>
                <a href="[[++email]]" target="_blank">
                    [[++email]]
                </a>
            </div>
            <div class="flex items-center flex-col mt-10">
                <a href="[[++telegram]]" class="salad-button inline-flex px-2 justify-center items-center ">
                    Перейти в Telegram канал
                </a>
                <a href="#" class="salad-button inline-flex px-2 justify-center items-center mt-5">
                    Смотреть сертификаты
                </a>
            </div>
            <div class="mt-8">
                <div>ООО «ИВ Бьюти»</div>
                <div>Официальный дистрибьютор TM Ronas, Merikit, Or’jade на территории РФ</div>
                <div>Юридический адрес : г. Красногорск ул.Строительная д 3а-32</div>
                <div>ИНН:5024196640</div>
                <div>КПП: 502401001</div>
                <div>ОГРН: 1195081042122</div>
            </div>
        </div>
    </div>
    <div class="map mt-10">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2242.188024025891!2d37.328200215739884!3d55.80733609525244!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b5466514f32903%3A0xc8546e01021cfec5!2z0KHRgtGA0L7QuNGC0LXQu9GM0L3QsNGPINGD0LsuLCAz0JAsINCa0YDQsNGB0L3QvtCz0L7RgNGB0LosINCc0L7RgdC60L7QstGB0LrQsNGPINC-0LHQuy4sIDE0MzQwMQ!5e0!3m2!1sru!2sru!4v1597837045909!5m2!1sru!2sru" width="100%" height="700" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
</footer>