<header>
    <div class="container">
        <div class="flex justify-center logo-area py-5 border-b border-gray">
            <div class="logo inline-flex ff-book text-green leading-none">
                <img src="img/elements/logo.png" alt="Ronas">
            </div>
        </div>
    </div>
    <div class="bars flex lg:hidden flex-col w-6 h-4 sm:w-10 sm:h-6 justify-between z-50 fixed hover:opacity-75 transition-300" style="right: 1rem;">
        <span class="bg-dark w-full flex" style="height: 2px;"></span>
        <span class="mt-1 bg-dark w-full flex" style="height: 2px;"></span>
        <span class="mt-1 bg-dark w-full flex" style="height: 2px;"></span>
    </div>
    <div class="menu pt-20 lg:pt-5 pb-6 fixed lg:static top-0 w-full h-full overflow-y-scroll lg:overflow-y-visible bg-white z-50">
        <div class="container">
            <nav class="flex justify-center text-white">
                <ul class="menu__ul flex flex-col lg:flex-row items-end lg:items-center leading-relaxed lg:leading-none flex-grow text-gray justify-between">
                    <li>
                        <a href="#about">О нас</a>
                    </li>
                    <li>
                        <a href="#why">Почему мы?</a>
                    </li>
                    <li>
                        <a href="#brands">Бренды</a>
                    </li>
                    <li>
                        <a href="#advantages">Преимущества</a>
                    </li>
                    <li>
                        <a href="#cooperation">Условия</a>
                    </li>
                    <li>
                        <a href="#comments">Отзывы</a>
                    </li>
                    <li>
                        <a href="#contacts">Контакты</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>