<div style="display: none;">
    <div class="box-modal px-4 white-modal white-modal_mw_750 bg-white text-center" id="thanks">
        <div class="box-modal_close arcticmodal-close text-right -mx-4">
            <svg class="w-5 close-icon  inline-block cursor-pointer mr-2" xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 32 32">
                <path
                        d="M7.21875 5.78125L5.78125 7.21875L14.5625 16L5.78125 24.78125L7.21875 26.21875L16 17.4375L24.78125 26.21875L26.21875 24.78125L17.4375 16L26.21875 7.21875L24.78125 5.78125L16 14.5625Z"
                        fill="#5B5B5B" />
            </svg>
        </div>
        <div class="pt-5 pb-24">
            <div>
                <div class="uppercase inline-block bg-green text-white px-5 py-1 mx-auto">
                    ronas
                </div>
            </div>
            <div class="mx-auto mt-10" style="max-width: 57rem">
                Спасибо, ожидайте звонка нашего специалиста!
            </div>
        </div>
    </div>
</div>