@import '../../node_modules/magnific-popup/dist/magnific-popup';
@import '../../bower_components/arcticModal/arcticmodal/jquery.arcticmodal';
@import "../../node_modules/slick-carousel/slick/slick.scss";
@import "../../node_modules/slick-carousel/slick/slick-theme.scss";

$root-font-size: 16;

@function s($size) {
  @return $size / $root-font-size * 1rem;
}

.slick-dots {
  bottom: s(30);
}

.slick-dots li button:before {
  font-size: s(15);
  color: #fff;
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  color: #ffeac8;
  opacity: 1;
}

.production-slider {
  .slick-dots {
    bottom: - s(80);
  }

  .slick-dots li button:before {
    font-size: s(15);
    color: #8ebc92;
    opacity: 1;
  }

  .slick-dots li.slick-active button:before {
    color: #0a3900;
    opacity: 1;
  }

  .slick-arrow {
    width: s(35);
    height: s(35);
  }

  .slick-arrow::before {
    color: #8ebc92;
    font-size: s(35);
  }
}

.comments-arrow {
  width: s(32);
  height: s(32);
  border: s(16) solid transparent!important;

  &::before {
    content: ''!important;
  }

  &__left {
    border-right-color: #0a3900!important;

  }

  &__right {
    border-left-color: #0a3900!important;
  }
}

.comments-slider {
  .slick-prev {
    left: - s(35);
  }

  .slick-next {
    right: - s(35);
  }
}

.arcticmodal-container_i2 {
  padding: s(10);
}

.white-modal {
  &_mw {
    &_750 {
      @media (min-width: 1200px) {
        width: 750px;
      }
    }
    &_1140 {
      width: 290px;
      @media (min-width: 375px) {
        width: 343px;
      }
      @media (min-width: 576px) {
        width: 544px;
      }
      @media (min-width: 768px) {
        width: 736px;
      }
      @media (min-width: 992px) {
        width: 945px;
      }
      @media (min-width: 1200px) {
        width: 1140px;
      }
    }
  }
}

.production-slider {
  .slick-prev {
    left: - s(40);
  }
  .slick-next {
    right: - s(40)
  }
}