// @import '../../node_modules/magnific-popup/dist/magnific-popup';
@import '../../bower_components/arcticModal/arcticmodal/jquery.arcticmodal';
@import "../../node_modules/slick-carousel/slick/slick.scss";
@import "../../node_modules/slick-carousel/slick/slick-theme.scss";

$root-font-size: 16;

@function s($size) {
  @return $size / $root-font-size * 1rem;
}

.slick-dots {
  bottom: s(30);
}

.slick-dots li button:before {
  font-size: s(15);
  color: #fff;
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  color: #ffeac8;
  opacity: 1;
}