@import '../../node_modules/tailwindcss/base';
@import '../../node_modules/tailwindcss/components';

@import 'fonts';


$root-font-size: 16;

@function s($size) {
  @return $size / $root-font-size * 1rem;
}


body {
  font-family: 'FuturaLightC', sans-serif;
  font-size: s(20);
  word-wrap: break-word;
  color: black;
  line-height: 1.35;

  @media (min-width: 768px) {
    font-size: s(22);
  }
}

.ff-book {
  font-family: 'FuturaBookC', sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.input, button {
  outline: none !important;

  &:hover {
    outline: none !important;
  }
}

p {
  margin-bottom: 1rem;
}

a {
  transition: .3s;
}

.free-content {
  img {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

//section:not(.promo) {
//    max-width: 1920px;
//    margin-left: auto;
//    margin-right: auto;
//    position: relative;
//    overflow: hidden;
//}

.bars {
  z-index: 99;
  right: 1rem;
  top: 1rem;
}


.offer {
  &__title {
    @media (max-width: 360px) {
      font-size: 1.75rem;
    }
  }
}

.logo {
  font-size: s(43);
}

.menu {
  display: none;
  @media (min-width: 992px) {
    display: block !important;
  }

  &__ul {
    max-width: s(1080);
    font-size: s(29);
  }

  a {
    &:hover {
      opacity: .5;
    }
  }

  .container {
    max-width: 100%;

    @media (min-width: 992px) {
      max-width: 992px;
    }
  }
}

.promo {
  &__offer {
    width: 100%;
    padding: 1rem;
    height: s(330);

    @media (min-width: 768px) {
      width: 50%;
    }

    @media (min-width: 992px) {
      padding: 1rem s(46);
      height: s(500);
    }

    @media (min-width: 1330px) {
      width: s(720);
    }
  }

  &__right {
    width: 100%;

    @media (min-width: 768px) {
      width: 50%;
    }

    @media (min-width: 992px) {
      width: 29rem;
    }

    @media (min-width: 1200px) {
      width: 34rem;
    }
    @media (min-width: 1330px) {
      width: s(578);
    }
  }

  &-title {
    font-size: 1.4rem;
    line-height: 1.2;

    @media (min-width: 992px) {
      font-size: s(35);
    }

    &_biger {
      @media (min-width: 992px) {
        font-size: 2rem;
      }

      @media (min-width: 1200px) {
        font-size: s(44);
      }
    }
  }

  &-subtitle {
    font-size: s(20);

    @media (min-width: 992px) {
      font-size: s(27);
    }
  }
}

.button {
  height: s(58);
  font-size: s(19);

  @media (min-width: 576px) {
    font-size: s(21);
  }
}

.figure {
  transform: rotate(45deg);

  &_s {
    &_40 {
      width: s(40);
      height: s(40);
      margin-left: - s(20);
      margin-top: - s(20);
      left: 50%;
      top: 50%;
    }
    &_25 {
      width: s(26);
      height: s(26);
      left: 75%;
      top: 50%;
      margin-left: - s(13);
      margin-top: - s(13);
    }
  }
}

.promo-slider {
  &__slide {
    height: s(330);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media (min-width: 992px) {
      height: s(500);
    }
  }
}

.beige-button {
  transition: .3s;
  user-select: none;

  &:hover {
    background: #f7deb7;
  }

  &:active {
    background: #ffeac8;
  }
}

.green-button {
  transition: .3s;
  user-select: none;

  &:hover {
    background: #185a09;
    box-shadow: 8px 8px 7px rgba(0, 0, 0, .1);
  }

  &:active {
    background: #0a3900;
  }
}

.promo-slider {
  margin-bottom: 0 !important;
}

.section-title {
  font-size: 2rem;

  @media (min-width: 576px) {
    font-size: s(50);
  }
}

.title-decorate {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  &__line {
    height: s(1);
    background: #000;
    width: s(200);

    @media (min-width: 576px) {
      width: s(290);
    }
  }

  &_left {
    &_-45 {
      left: 0;
      @media (min-width: 768px) {
        left: -45%;
      }
    }

    &_-30 {
      left: 0;

      @media (min-width: 768px) {
        left: -30%;
      }
    }

    &_-12 {
      left: 0;
      @media (min-width: 768px) {
        left: -12%;
      }
    }

    &_40 {
      left: 0;
      @media (min-width: 992px) {
        left: 40%;
      }
    }

    &_50 {
      left: 0;
      @media (min-width: 992px) {
        left: 50%;
      }
    }

    &_60 {
      left: 0;
      @media (min-width: 992px) {
        left: 60%;
      }
    }
  }
}

.about-img {
  &__square {
    background-color: #ffeac8;
    right: - 1.5rem;
    bottom: -1.5rem;
    z-index: 2;
    width: s(190);
    height: s(190);

    @media (min-width: 576px) {
      width: s(260);
      height: s(260);
    }
  }

  &__sheet-left {
    z-index: 1;
    left: - s(150);
    top: - s(50);
  }

  &__sheet-right {
    z-index: 1;
    right: - s(60);
    bottom: - s(70);
  }
}

.why-item {
  &__white-area {
    padding: s(10);
  }

  &__title {
    font-size: s(24);
    line-height: 1.2;
  }

  &__desc {
    max-width: s(290);
    @media (min-width: 768px) {
      max-width: s(190);
    }
  }
}

.brands-item {
  &__inner {
    padding: s(40) s(15) s(32);

    @media (min-width: 768px) {
      padding: s(40) s(20) s(32);
    }

    &:hover {
      border-color: transparent;
    }
  }

  &__img {
    max-width: s(290);
    height: s(127);
    background-color: white;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  &__desc {
    font-size: s(16);
  }
}

.view-more-button {
  font-size: s(16);
}

.advantages {
  &__inner {
    background-image: linear-gradient(to right, #edffed 96%, transparent 96%, transparent);
  }
}

.advantage {
  counter-increment: step-counter;
  max-width: s(300);

  @media (min-width: 576px) {
    max-width: 100%;
  }

  &__sheet-left {
    width: 33rem;
    position: absolute;
    left: 0;
    top: - 6rem;
    transform: translateX(- 10%);
  }

  &__sheet-right {
    position: absolute;
    bottom: - 12rem;
    right: 0;

    @media (min-width: 576px) {
      bottom: - 14rem;
    }

  }

  &__title {
    font-size: s(25);
    line-height: 1.2;

    @media (min-width: 768px) {
      font-size: s(32);
    }
  }

  &__desc {
    max-width: 22rem;
    font-size: s(19);
  }

  &::before {
    content: '0' counter(step-counter);
    position: absolute;
    left: 0;
    top: 20%;
    font-size: s(140);
    color: #e0f1e9;
    line-height: 0;
    z-index: 1;

    @media (min-width: 576px) {
      font-size: s(176);
    }
  }
}

.cooperation {
  &__img {
    z-index: 1;
  }
  &__square {
    width: 80%;
    height: 60%;
    right: - 3.5%;
    bottom: - 5.5%;
    background: #ffeac8;
    z-index: 0;
  }
}

.cooperation-kinds {
  max-width: 90%;
  @media (min-width: 1200px) {
    max-width: 65rem;
  }

  &__caption {
    top: 0;
    left: 50%;
    height: s(22);
    line-height: 0.8;
    transform: translate(-50%, -50%);
    font-size: s(17);

    @media (min-width: 576px) {
      font-size: s(22);
    }
  }

  &__left-block {
    width: s(100);
    height: s(90);
    left: - s(50);
    bottom: - s(45);
    background: white;
  }

  &__right-block {
    width: s(50);
    height: s(50);
    right: - s(25);
    bottom: - s(25);
  }

  &__inner {
    max-width: 50rem;
  }
}

.cooperation-kind {
  max-width: s(270);

  &__title {
    font-size: s(23);
  }

  &__desc {
    font-size: s(20);
  }
}

.get-free {
  background: no-repeat;
  background-size: cover;
  background-position: 100%;

  @media (min-width: 576px) {
    background-position: 60%;
  }

  &__text-block {
    max-width: 34rem;
    padding-top: s(55);
    padding-bottom: s(80);
    background: #0a3900;

    @media (min-width: 992px) {
        max-width: 43rem;
    }
  }

  &__sheet-left {
    left: 1rem;
    bottom: 1rem;
  }

  &__sheet-right {
    top: 1rem;
    right: 3rem
  }
}

.figure {
  bottom: 3rem;
  right: 8rem;
}

.attention {
  &__right {
    max-width: s(430);
    @media (min-width: 992px) {
      max-width: 30.9rem;
    }
  }
}

.attention {
  &__title {
    font-size: s(24);
  }
}

.get-discount {
  &__sheet-left {
    left: -2rem;
    bottom: 0;
    width: 40%;
  }
  &__sheet-right {
    right: -4rem;
    bottom: 4rem;
    width: 30%;
  }
}

#form-modal {
  max-width: s(400);
}

.conception {
  &__item {
    font-size: s(15);

    @media (min-width: 576px) {
      font-size: s(16);
    }

    @media (min-width: 1200px) {
      max-width: s(180);
      font-size: s(19);
    }
  }
}

.about-title {
  font-size: s(30);
}

.production-item {
  &__desc {
    max-width: s(177);
  }

  &__img {
    height: s(438);
  }
}

.people-check {
  display: none;
}


.footer {
  font-size: s(20);
  background-color: #171615;
  padding-top: s(40);

  @media (min-width: 576px) {
    font-size: s(24);
  }

  &__title {
    font-size: s(30);

    @media (min-width: 576px) {
      font-size: s(44);
    }
  }
}

.salad-button {
  font-size: s(21);
  color: #171615;
  background-color: #edffed;
  width: s(266);
  height: s(34);
  border-radius: s(10);
  cursor: pointer;
}